
/*
* Body
*/
body {
  padding: 1px;
  margin: 30px;
  font-family: sans-serif;
  border: 1px solid;
  border-radius: 10px;
}

/*
* Header
*/
header {
  display: block;
  margin: 0px;
  border: 1px solid;
}

/*
* Main menu in header
*/


/* show submenu "left-aligned" to the parent-menu-item */

header nav > ul {
  display: flex;
  justify-content: center;
}

/* setup positions and colors of menu */
header nav ul li {
  background-color: rgb(235, 237, 235);
  list-style: none;
  padding: 0.7rem; /* height of menu item (1rem=size of root font-size(16px by default))*/
  transition-duration: 0.5s;
}

header nav >  ul > li {
  /* width: 7%; */
  text-align: center;
  white-space: nowrap; /* Dont break text on small display (break whole parrent elements) */
  /* display: inline-block; */
  position: relative;  /* Setting the relative position to supermenu will make submenus apear relative to it's supermenus (yeah :D)*/

  margin: 0px 3px 0px 3px;
}

header nav ul ul {
  padding-left: 0;
}

/* link and parent-menu-items text formating */
header nav li a,
header nav li ul
{
  color: black;
  text-decoration: none;
}

/* cursor over menu item */
header nav li:hover {
    background: red;
    /* cursor: pointer; */
}

/* submenu default */
header nav ul li ul {
  position: absolute; */ absolute position will remove submenus from the normal document flow so it will not affect other elements when present*/
  margin-top: 0.7rem;  /*  show submenu just below the parent-menu-item (needs to be same size as padding of parrent menu item)*/
  left: 0;  /* it's position 'helper-property' meaning show elements 0 px from most left of it's parrent*/
  display: none;  /* don't show submenu list by default (only when hovered)*/
}

/* show submenu when mouse is over parent-menu-item */
header nav ul li:hover > ul{
  display: block; /* show submenu list */
}
/* submebu items setup */
header nav ul li ul li {
  width: 100%; /* get full width of a parent (so the submenu items are of same size) */
}

/*
* Top Sections
*/
.top-section > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  justify-items: center;
  padding: 0;
  border: 2px solid blue;

}

.top-section li {
  display: flex;
  border: 5px solid red;
}

/*
* News thumbnail
*/
.news-thumbnail{
  position: relative;  /* To have it on background*/
  width: 300px;  /* same as background img size */
  height: 300px;  /* same as background img size */
  border: 3px solid orange;
}

.news-thumbnail .news-thumb-texts {
  position: absolute; /* */
  bottom: 0;
  left: 3px;

  color: white;
  text-shadow: 2px 2px black;
}

.news-thumbnail .news-thumb-texts h5{
  font-size: 1rem;
  margin-bottom: 0;
}

.news-thumbnail .news-thumb-texts p{
  font-size: 0.9rem;
  font-weight: bold;
}

.news-thumbnail img {
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: -1;
}
